body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif, serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 8px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.maglt10 {
  color: #309143
}

.mag1030 {
  color: #8ace7e
}

.mag3050 {
  color: #ffda66
}

.mag5070 {
  color: #e39802
}

.mag7090 {
  color: #ff684c
}

.maggt90 {
  color: #b60a1c
  }

